[Unit]
Description=Check GitHub for Duck Fashion updates every 1 minute

[Timer]
OnBootSec=3min
OnUnitActiveSec=1min
AccuracySec=5s
Persistent=true

[Install]
WantedBy=timers.target
